.area-heading{
    font-weight: bolder;
    font-size: 28px;
    font-family: 'Fondamento', 'cursive' !important;
    text-align: center;
}

.area-panel-heading{
    background-color: #990000 !important;
}

.area-panel-title{
    font-family: 'Fondamento', cursive !important;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.area-panel-body{
    
}

.area-image{
    padding: 15px;
    width: 100%;
    height: 100%;
}