.combatant-name{
    font-weight: bold;
}

.combatant-name-full-size{
    font-weight: bolder;
    font-size: 18px;
}

.combatant-name-first-letter-full-size{
    font-size: 18px;
}

.combatant-name-remainder-full-size{
    font-size: 14px;
    margin-left: -5px;
}

.combatant-name-first-letter{
    font-size: 14px;
}

.combatant-name-remainder{
    font-size: 10px;
    margin-left: -4px;
}

.combatant-label{
    font-weight: bold;
}

.combatant-heading-container{
    margin-right: 15px;
}

.combatant-heading{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    padding: 0px;
    margin-left: 15px;
}

.panel-combatant{
    background-color: #190231;
    border: 1px solid #BEB8CC;
    color: #BEB8CC;
}

.special-ability-body{
    text-indent:-20px;
    margin-left:20px
}