.combat-header{
    font-family: 'Fondamento', 'cursive';
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

.combat-initiative-container{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #190231;
    border: 1px solid #BEB8CC;
    color: #BEB8CC;
    border-radius: 8px / 7px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    padding: 5px;
    margin-bottom: 15px;
}

.combat-initiative-container .form-control{
    margin-bottom: 8px;
}

.combat-initiative-container input{
    width: 60px;
    
}

.initiative-header{
    font-family: 'Fondamento', 'cursive';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.combat-initiative-combatant-name{
    font-weight: bold;
 }
 
.combat-log-header{
    font-size: 20px;
    font-weight: bold;
}

.combatatant-on-delay-header{
    font-size: 20px;
    font-weight: bold;
}

.combatatant-out-of-combat-header{
    font-size: 20px;
    font-weight: bold;
}

.combat-log-container{
    color: #BEB8CC;
    background-color: #190231;
    border: 1px solid #BEB8CC;
    border-radius: 8px / 7px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    margin: 20px auto;
    padding: 5px;
}

.damage-combatant{
    color: #ff3333;
}

.combatant-name-large{
    font-weight: bold;
}

.combat-container{
    /* margin-bottom: 20px !important; */
    background-color: #190231;
    border: 1px solid #BEB8CC;
    color: #BEB8CC;
    border-radius: 8px / 7px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    margin: 20px auto;
    padding: 5px;
}

.combat-table tbody > tr > td{
    border-top: 0px;
    border-bottom: 1px solid #BEB8CC;
}

.combat-round-display{
    font-family: 'Fondamento', 'cursive';
    font-size: 28px;
}

.combatant-add-amount{
    width: 60px;
}

.combat-action-row{
    margin-bottom: 5px;
}