.encounter-container{
    margin-left: 10%;
    margin-right: 10%;
}

.encounter-title{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Fondamento', 'cursive';
}

.encounter-box-text{
    color: #d06a49;
    border-top: 1px solid #d06a49;
    border-bottom: 1px solid #d06a49;

    padding-top: 5px;
    padding-bottom: 5px;
}

.encounter-dm-text{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #BEB8CC;
}

.encounter-text-block-title{
    font-weight: bold;
    padding-left: 15px;
    padding-right: 5px;
}