.right-align{
    text-align: right;
}

.btn-default{
    background-color: #381E59;
    color: #2382F8;
    border-color: #43256A;
}

.btn-default:hover{
    background-color: #190231;
    color: #BEB8CC;
}

.form-control{
    background-color: #1C023C;
    color: #BEB8CC;
    border-color: #381E79;
}

body{
    background-color: #1C023C;
    color: #BEB8CC;

    cursor: url('wcII-human-cursor.png'), auto;
}

.navbar-default{
    background-color: #190231;
    color: #BEB8CC;
    border-color: #381E79;
}

.navbar-brand{
    font-family: 'Fondamento', 'cursive' !important;
    font-weight: bolder;
    font-size: 20px;
}

.super-container{
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
}

.inline-container{
    display: inline;
    width: 100%;
}

.inline{
    display: inline-block;
}

.twocolumns {
     padding:10px;
      -moz-column-count: 2;
      -moz-column-gap: 10px;
      -webkit-column-count: 2;
      -webkit-column-gap: 10px;
      column-count: 2;
      column-gap: 10px;
}
    
.panel-parchment{
    background-color: #190231;
    border: 1px solid #BEB8CC;
}
    
.panel-parchment .panel-title{
    font-family: 'Fondamento', 'cursive' !important;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

.highlight {
    background-color: #cccc00;
    color: #000000;
}

.highlight-check {
    background-color: #00e6e6;
    color: #000000;
}

.highlight-save {
    background-color: #ff3399;
    color: #ffffff;
}

.highlight-treasure{
    background-color: #ffa500;
    color: #000000;
}

.tack-on-div{
    position: relative;
}

.inline-container{
    display: inline;
}

.centered{
    text-align: center;
}